<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.bockmedia.console.offline-refresh</string>
	</array>
	<key>BOCK_ADMIN_PASSWORD</key>
	<string>$(BOCK_ADMIN_PASSWORD)</string>
	<key>BOCK_ADMIN_USER</key>
	<string>$(BOCK_ADMIN_USER)</string>
	<key>BOCK_EXTERNAL_SERVER_URL</key>
	<string>$(BOCK_EXTERNAL_SERVER_URL)</string>
	<key>BOCK_LOCAL_SERVER_URL</key>
	<string>$(BOCK_LOCAL_SERVER_URL)</string>
	<key>BOCK_MOBILE_API_TOKEN</key>
	<string>$(BOCK_MOBILE_API_TOKEN)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bockmedia.console</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bockmedia</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIBlue</key>
		<real>0.078</real>
		<key>UIColorName</key>
		<string></string>
		<key>UIGreen</key>
		<real>0.078</real>
		<key>UIImageName</key>
		<string></string>
		<key>UIRed</key>
		<real>0.078</real>
	</dict>
</dict>
</plist>
